.modalpop-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000000;
  display: none;
  z-index: 900;
}

.modalpop-container {
  background-color: #f9f9f9;
  color: #000000;
  padding: 1em;
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: auto;
  display: none;
  z-index:1000;
}

@media screen and (min-width: 600px) {
  .modalpop-container {
    top: 30%;
    left: 15%;
    width: 70%;
  }
}

.modalpop-content-container {
  float: left;
  width: 70%;
  margin-right: 10px;
  overflow-y: auto;
}

.modalpop-buttons-container {
  border: 0px #999999 solid;
  padding: 5px;
  margin-left: 73%
}

.modalpop-button a:link,
.modalpop-button a:hover,
.modalpop-button a:active,
.modalpop-button a:visited {
  color: #000000;
  padding: 3px 8px;
  background-color: #cccccc;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.modalpop-button a:hover {
  background-color: #333333;
  color: #ffffff;
}


.pop_title a {
  font-weight: bold;
  font-size: 1.3em;
}

.pop_m {
  border: 1px #333333 solid;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 0.5rem;
  margin-top: 1em;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.month_header {
  font-weight: bold;
  color: #999999;
  font-size: 1.5em;
}

.m_total {
  width: 100%;
  height: 1.5em;
  border-width: 0;
  margin-bottom: .4em;
}

.m_total .label {
  background-color: #dedede;
}

.m_total .option_1,
.boxodays .day_bar.option_1 {
  background-color: #cc6666;
}
.m_total .option_2,
.boxodays .day_bar.option_2 {
  background-color: #66cc66;
}
.m_total .option_3,
.boxodays .day_bar.option_3 {
  background-color: #9999ff;
}

.pop_d {
  border: 0px #999999 solid;
  border-width: 0px 0px 1px 0px;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px 0px 0.3em 0px;
}

.day_header {
  font-weight: bold;
  width: 30%;
  float: left;
  margin: 0 0 3px 0;
}

.day_bar {
  float: left;
  display: inline;
  overflow: hidden;
}

.day_bar_content {
  padding: 0 5px;
  display: inline-block;
}

.d_total {
  width: 100%;
  height: 1.5em;
  border: 1px #999999 dotted;
  border-width: 0px 0px 0px 0px;
  clear: both;
}

.label {
  float: left;
  width: 30%;
  clear: both;
  margin-right: 10px;
  padding-left: 5px;
}

.data {
  width: 0;
  float: left;
  display: inline;
  background-color: #cccccc;
  overflow: visible;
  white-space: nowrap;
  padding: 0 5px;
}

.boxodays {
  margin-top: 1rem;;
}

.boxodays.closed {
  display: none;
}

.boxodays.open {
  display: block;
}

.bodswitch {
  display: inline-block;
  padding: .3em 1em;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 5px;
  background-color: #990000;
  color: #ffffff;
  clear: both;
}



